body{
  text-align: center;
  font-size: 30px;
}
#auditionsTable {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border-spacing:0px;
}
#auditionsTable td, #auditionsTable th{
  border: 1px solid #ddd;
  padding: 8px;
}
#auditionsTable tr:hover {background-color:#ddd;}
#auditionsTable th{
  padding-top:12px;
  padding-bottom:12px;
  text-align: center;
  background-color: #0266C8;
  color: white;
}
.auditionCount{
  font-size:20px;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background:rgba(0,0,0,.7);
}
.closeCursor {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.filterContainer{
  position: relative;
  background-color: #0266C8;
  margin: auto;
  padding: 0;
  width: 80%;
  height: 72%;
  max-width: 1200px;
  box-shadow: 0px 0px 100px black;

}
.captionContainer{
  text-align: left;
  background-color: #0266C8;
  padding: 2px 8px;
  color: white;
  max-width: 1200px;

}
#caption{
  margin-left: 10px;
  font-size:40px;
}
.filterInputContainer{
  text-align: left;
  background-color: white;
  padding: 20px;
  color: black;
  height: 72%;
  overflow-x:scroll;
}
.filterLabel{
  font-size:15px;
}
#submitButton,#displayFilteredTableButton{
  margin-bottom:10px;
}
#filterButton{
  position: fixed;
  text-align: center;
  right: 40px;
  display: inline-block;
}
#refreshButton{
  position: fixed;
  text-align: center;
  left: 40px;
  display: inline-block;
}
.hiddenLink{
  display: none;
}
.activeFiltersContainer{
  display: none;
  text-align: left;
  margin-left: 10px;
}
.activeFilters{
  margin-left:10px;
  font-size: 15px;
}
.filterInput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
.filterOption{
  width: 100%;
  text-align: center;
  padding: 0px 20px;
  margin: 8px 0;
  display: inline-block;
}
.categoryContainer{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
#subCaption{
  font-size:12px;
  margin-left: 10px;
}
.loadingContainer{
  position: relative;
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 0;
  width: 10%;
  height: 10%;
  max-width: 1200px;
  box-shadow: 0px 0px 100px black;
}
#loadingText{

  font-size: 40px;
  color: white;
}

