label:first-child{
    text-decoration: underline;
    font-weight: bold;
}
.auditionTableContainer{
    display:block;
}
/* #loadingBox{
    display:none;
} */
.hiddenLink{
    display: none;
}
.filterBar{
    position: fixed;
    left: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y:scroll;
    opacity: 1;
}
.auditionsBody{
    left:42%;
}
.auditionsTable{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
.placeholder{
    z-index: 1;
}
.tableLink{
    text-decoration: none;
}
.checkboxes{
    float:left
}
.form-group{
    margin-bottom: .25rem!important;
}
a{
    color: black;
}

@media only screen and (max-width: 640px){
    .filterBar{
        position:static;
        left:auto;
    }
    .auditionsBody{
        margin-top:10px;
        left:auto;

    }
    #loadingTextPlaybill,#loadingTextBackstage{
        font-size: 13px;
    }
}